#kkpager{
	clear:both;
	height:30px;
	line-height:30px;
	margin:20px 0;
	color:#999999;
	font-size:14px; margin-right:40px;
}
#kkpager a{  -webkit-border-radius:4px !important;
     -moz-border-radius:4px!important;
          border-radius:4px !important;
	padding:4px 12px;
	margin:10px 3px;
	font-size:12px;
	border:1px solid #DFDFDF;
	background-color:#FFF;
	color:#9d9d9d;
	text-decoration:none;
}
#kkpager span{
	font-size:14px;
}
#kkpager span.disabled{-webkit-border-radius:4px !important;
     -moz-border-radius:4px!important;
          border-radius:4px !important;
	padding:4px 12px;
	margin:10px 3px;
	font-size:12px;
	border:1px solid #DFDFDF;
	background-color:#FFF;
	color:#DFDFDF;
}
#kkpager span.curr{-webkit-border-radius:4px !important;
     -moz-border-radius:4px!important;
          border-radius:4px !important;
	padding:4px 12px;
	margin:10px 3px;
	font-size:12px;
	border:1px solid #e7e8e9;
	background-color:#e7e8e9;
}
#kkpager a:hover{
	background-color:#e7e8e9;
	border:1px solid #d0d1d1;
}
#kkpager span.normalsize{
	font-size:12px;
}

#kkpager_btn_go {
	width:44px;
	height:24px;
	line-height:20px;
	padding:0px;
	font-family:arial,宋体,sans-serif;
	text-align:center;
	border:0px;
	background-color:#30a6f0;
	color:#FFF;
	position:absolute;
	left:-10px;
	top:-1px;
	display:none;-webkit-border-radius:4px!important;
     -moz-border-radius:4px!important;
          border-radius:4px !important;
}
#kkpager_btn_go_input{
	width:40px; outline:none;
	height:24px;
	text-align:center;
	border:0px;
	position:absolute; background:none;
	left:0px;
	top:-2px;
	outline:none;-webkit-border-radius:4px !important;
     -moz-border-radius:4px!important;
          border-radius:4px !important;
}
#kkpager_gopage_wrap{
	display:inline-block;
	width:44px;
	height:24px;
	border:1px solid #DFDFDF;
	margin:0px 1px;
	padding:0px;
	position:relative;
	left:0px;
	top:8px;-webkit-border-radius:4px !important;
     -moz-border-radius:4px !important;
          border-radius:4px  !important;
}




